html {
    scroll-behavior: smooth; 
  }

body{
    
min-height: 100vh;
    
margin: 0;
    
padding: 0;
    
display: flex;
    
flex-direction: row;
    
justify-content: space-between;
}

@media (1000px <= width <= 1400px) {}

input {
  display: none;
  }
  

  
  label{
    display: flex;
    color:crimson;
    appearance:initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;

    border: solid #2fb6b8;
    transition: 0.6s all linear;
    outline: none;
    margin: 3vh;
  
    /* transform: translateX(100%); */
    /* transition: 0.6s; */
    /* flex-direction: row-reverse; */
    /* display: none; */
    /* flex-wrap: wrap; */
  }
  /*span{flex-direction: column;display: none;}*/

  img{
    height: 100vh;
    padding: 5vh;
   
  }
  .img_conteiner{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

.imgs{
  display: flex;
  transition: transform 0.3s linear;
  align-items: center;
  overflow: hidden;
}
/*input:nth-child(1):checked ~ label:nth-child(1) {display: block;}*/

.text span{display: block;}

#input1:checked ~ .text_lbl .lbl .img1,
#input2:checked ~ .text_lbl .lbl .img2,
#input3:checked ~ .text_lbl .lbl .img3,
#input4:checked ~ .text_lbl .lbl .img4,
#input5:checked ~ .text_lbl .lbl .img5,
#input6:checked ~ .text_lbl .lbl .img6,
#input7:checked ~ .text_lbl .lbl .img7 {  border: 6px solid rgb(165, 74, 230);}

#input1:checked ~ .text_lbl .text .img1,
#input2:checked ~ .text_lbl .text .img2,
#input3:checked ~ .text_lbl .text .img3,
#input4:checked ~ .text_lbl .text .img4,
#input5:checked ~ .text_lbl .text .img5,
#input6:checked ~ .text_lbl .text .img6,
#input7:checked ~ .text_lbl .text .img7 {  border: 6px solid rgb(165, 74, 230);}

#input1:checked ~ .imgs .img1,
#input2:checked ~ .imgs .img2,
#input3:checked ~ .imgs .img3,
#input4:checked ~ .imgs .img4,
#input5:checked ~ .imgs .img5,
#input6:checked ~ .imgs .img6,
#input7:checked ~ .imgs .img7 {  border: 6px solid rgb(165, 74, 230);}


#input1:checked ~ .span .img1  {transform: translateX(0);}
#input2:checked ~ .span.img2 {transform: translateX(100%);}

/*.ctrl_text:has(#input1:checked) ~ .imgs:has(.img1) {display: block;}
.ctrl_text:has(#input2:checked) ~ .imgs:has(.img2) {display: block;}
.ctrl_text:has(#input3:checked) ~ .imgs:has(.img3) {display: block;}
.ctrl_text:has(#input4:checked) ~ .imgs:has(.img4) {display: block;}
.ctrl_text:has(#input5:checked) ~ .imgs:has(.img5) {display: block;}
.ctrl_text:has(#input6:checked) ~ .imgs:has(.img6) {display: block;}
.ctrl_text:has(#input7:checked) ~ .imgs:has(.img7) {display: block;}
/*#input2:checked+.img2{transform: translateX(0);}
#input3:checked>.img3{transform: translateX(0);}
#input4:checked .img4{transform: translateX(0);}
#input5:checked .img5{transform: translateX(0);}
#input6:checked .img6{transform: translateX(0);}
#input7:checked .img7{transform: translateX(0);}*/

/*#img1 {z-index: 1;}
#img2 {z-index: 2;}
#img3 {z-index: 3;}
#img4 {z-index: 4;}
#img5 {z-index: 5;}
#img6 {z-index: 6;}
#img7 {z-index: 7;}*/

/*.img1 {display: block;}

  input:checked+label.description {display: block;}
  input:checked+img {display: block; visibility: visible;}
  /*input:checked~p {display: block;}
  input:checked+label{color: cornflowerblue;}*/
  /*input:checked ~ div[class="description"]{
     display:block;
}
input:checked ~ img{
    display:flex;
}*/
/*
.img_conteiner.controls.input:checked .img_conteiner.imgs.img{display: block;}

.form-radio-hidden .radio{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 5px;
  border: 1px solid #999999;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  transition: .5s all;
}
.form-radio-hidden:hover .radio{
  background-color: #f9f9f9;
  box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
}
.form-radio-hidden input:checked + .radio{
  border-color: #555;
  background-color: #f9f9f9;
  box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
  cursor: default;
}
.form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form-radio-hidden input:checked + .radio::before{
  background-color: #555;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}
.form-radio-hidden input + .radio + .text{
  color: #777;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  font-family: sans-serif;
  margin-right: 10px;
  align-self: center;
}
.form-radio-hidden input:checked + .radio + .text{
  color: #555;
  cursor: default;
}*/