html {
    scroll-behavior: smooth; 
  }

body{
    
min-height: 100vh;
    
margin: 0;
    
padding: 0;
    
display: flex;
    
flex-direction: row;
    
justify-content: space-between;
}

@media (1000px <= width <= 1400px) {}

.img_conteiner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  margin: 5%;
}

input {
  display: none;
  }
  
  .imgs{
    display: flex;
    align-items: center;
    width: calc(100%/7);
    overflow: hidden;
    margin-bottom: 3%;
    transition: margin-right 1s;
  }
    .imgs img{
      /* display: none; */
      width: 100%;
      /* visibility: hidden; */
      background-color: white;
      transition: margin-left 1s;
      /* border: blanchedalmond; */
      }
  .text_lbl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.text{/* transition:border 5s linear; *//* display: flex; */}
span{
  transition: border 2s ease;
  border: solid #2fb6b8 1.5rem;
}
  
  .lbl{
  display: flex;
  }
  
label{
    display: flex;
    appearance:initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    border: solid #2fb6b8 1.5rem;
    transition: 0.6s all linear;
    outline: none;
    margin: 3vh;
  }
  

  

#input1:checked ~ .text_lbl .lbl .img1,
#input2:checked ~ .text_lbl .lbl .img2,
#input3:checked ~ .text_lbl .lbl .img3,
#input4:checked ~ .text_lbl .lbl .img4,
#input5:checked ~ .text_lbl .lbl .img5,
#input6:checked ~ .text_lbl .lbl .img6,
#input7:checked ~ .text_lbl .lbl .img7 {  border: 1.5rem solid rgb(165, 74, 230);}

#input1:checked ~ .text_lbl .text .img1,
#input2:checked ~ .text_lbl .text .img2,
#input3:checked ~ .text_lbl .text .img3,
#input4:checked ~ .text_lbl .text .img4,
#input5:checked ~ .text_lbl .text .img5,
#input6:checked ~ .text_lbl .text .img6,
#input7:checked ~ .text_lbl .text .img7 {  border: 1.5rem solid rgb(165, 74, 230);}


#input1:checked ~ .imgs .img1{ margin-left:0%;}
#input2:checked ~ .imgs>.img1{ margin-left:-100%;}
#input3:checked ~ .imgs .img1{ margin-left:-200%;}
#input4:checked ~ .imgs .img1{ margin-left:-300%;}
#input5:checked ~ .imgs .img1{ margin-left:-400%;}
#input6:checked ~ .imgs .img1{ margin-left:-500%;}
#input7:checked ~ .imgs .img1{ margin-left:-600%;}

  /*transition: border 3s;/*transform: translateX(-200%);*/
/*#input1:checked ~ .imgs
#input2:checked ~ .imgs
#input3:checked ~ .imgs
#input4:checked ~ .imgs
#input5:checked ~ .imgs
#input6:checked ~ .imgs
#input7:checked ~ .imgs*/

label.img1:hover {background: 1.5 rem solid rgb(165, 74, 230);}
label.img2:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl  .img3:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl> .img4:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl> .img4:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl.img5:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl+ .img6:hover{border: 1.5 rem solid rgb(165, 74, 230);}
.lbl+ .img7:hover {border: 1.5 rem solid rgb(165, 74, 230);}

/*#input1:checked ~ .imgs,
#input2:checked ~ .imgs,
#input3:checked ~ .imgs,
#input4:checked ~ .imgs,
#input5:checked ~ .imgs,
#input6:checked ~ .imgs,
#input7:checked ~ .imgs {}*/
