@font-face {
    font-family: 'Forum' ;
    src: url("./asserts/fonts/Forum-Regular.ttf");
}
@font-face {
    font-family: 'Inter' ;
    src: url("./asserts/fonts/Inter-Regular.ttf");
}

html {
    scroll-behavior: smooth; 
  }

body{
    
min-height: 100vh;
    
margin: 0;
    
padding: 0;
    
display: flex;
    
flex-direction: row;
    
justify-content: space-between;
}

@media (1000px <= width <= 1400px) {}

input {
    appearance:initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;

    border: solid #2fb6b8;
    transition: 0.6s all linear;
    outline: none;
    margin: 3vh;
  
  }
  
  input:checked {
    border: 6px solid rgb(165, 74, 230);
    /* order: -1; */
  }
  
  label{
    display: none;
    /* grid-template-rows: 1fr 8fr 9fr; */
    color:crimson;
    transform: translateX(100%);
    transition: 0.6s;
    /* visibility: hidden; */
  }
  span{display: none;flex-direction: column;}

  img{
    height: 100vh;
    padding: 5vh;
    /*visibility: hidden;*/
    display: none;
  
  }
  .img_conteiner{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    row-gap: 2%;
  }

p
{
    display: none;
    order: 1;
}
 .text{/* display: flex; *//* align-items: flex-end; */}

.input:checked +.description {visibility: visible;}
.img1 {display: block;}

  /*input:checked+span {display: block;}
  input:checked+img {display: block; visibility: visible;}
  input:checked~p {display: block;}
  input:checked+label{color: cornflowerblue;}*/
  /*input:checked ~ div[class="description"]{
     display:block;
}
input:checked ~ img{
    display:flex;
}*/
/*
.img_conteiner.controls.input:checked .img_conteiner.imgs.img{display: block;}

.form-radio-hidden .radio{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 5px;
  border: 1px solid #999999;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  transition: .5s all;
}
.form-radio-hidden:hover .radio{
  background-color: #f9f9f9;
  box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
}
.form-radio-hidden input:checked + .radio{
  border-color: #555;
  background-color: #f9f9f9;
  box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
  cursor: default;
}
.form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form-radio-hidden input:checked + .radio::before{
  background-color: #555;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}
.form-radio-hidden input + .radio + .text{
  color: #777;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  font-family: sans-serif;
  margin-right: 10px;
  align-self: center;
}
.form-radio-hidden input:checked + .radio + .text{
  color: #555;
  cursor: default;
}*/